* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body {
	background: #6495ED;
	font-family: 'Cambria', Serif;
	font-size: 16pt;
}

.container {
	max-width: 100%;
	background: #708090;
	overflow: hidden;
	padding: 10px;
}

.header {
	border: 1px solid #ffffff;
	padding: 10px;
	background: #ffffff;
	text-align: center;
	border-radius: 6px;
}

p {
	margin-bottom: 20px;
	line-height: 0.5cm;
}

a {
	margin: 10px 0px 10px 0px;
	text-decoration: none;
	color: #20B2AA;
}

a:hover{
	color: lightblue;
}

.content{
    width: 68%;
    padding-left: 0px;
    margin-left: 0px;
    float: left;
    background-color: lightblue;
}

.aside {
    width: 30%;
    padding-left: 0px;
    margin-left: 0px;
    float: right;
    background-color: lightblue;
}

img {
	max-width: 100%;
	height: auto;
}

.topnav {
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #5F9EA0;
	border-radius: 5px;
}

.topnav a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 17px;
}

.topnav .icon {
	display: none;
}

.dropdown {
	float: left;
	overflow: hidden;
	margin: 10px;
}

.dropdown .dropbtn{
	font-size: 17px;
	border : none;
	outline: none;
	color: white;
	padding : 14px 16px;
	background-color: inherit;
	border-radius: 5px;
}

.dropdown-content {
	display: none;
	position: absolute;
	border-radius: 5px;
	background-color: #f9f9f9;
	min-width: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
	z-index: 1;

}

.dropdown-content a{
	float: none;
	color: #3141ff;
	padding: 12px 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-decoration: none;
	display: block;
	text-align: left;

}

.topnav a:hover, .dropdown:hover .dropbtn {
	background-color: white;
	color: #3141ff;
}

.dropdown-content a:hover{
	background-color: #3141ff;
	color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
}

table{
	color: white;
	margin: auto;
	width: 100%;
	font-family: "Cambria";
	font-size: 18px;
}

.table-container{
	overflow: auto;
}

.demo-table{
	border-collapse: collapse;
	font-size: 18px;
}

.demo-table td{
	border-bottom: 3px solid #99ccff;
	border-left: 3px solid #99ccff;
	padding: 7px 17px;
}

.demo-table td:last-child{
	border-right: 3px solid #99ccff;
}

.demo-table td:first-child{
	border-top: 3px solid #99ccff;
}

.demo-table thead td{
	background-color: #3399ff;
	color: white;
	border-color: #99ccff !important;
	text-transform: uppercase;
	text-align: center;
}

.demo-table tbody td{
	color: white;
}

.demo-table tbody tr:nth-child(odd) td{
	background-color: #333333;
}

.demo-table tbody tr:hover td{
	background-color: #4169e1;
	border-color: ffff0f;
	transition: all .2s;
}

.demo-table tfoot td{
	background-color: #3399ff;
	color: white;
	border-color: #99ccff !important;
	text-transform: uppercase;
	text-align: center;
}


@media screen and (max-width: 980px){
	.topnav a:not(:first-child), .dropdown .dropbtn{display: none;}
	.topnav a.icon{
		float: right;
		display: block;
	}
}


@media screen and (max-width: 980px){
	.header, .footer {
		text-align: center;
	}

	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right :0;
		top: 0;
	}

	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}

	.topnav.responsive .dropdown{float: none;}
	.topnav.responsive .dropdown-content{position: relative;}
	.topnav.responsive .dropdown .dropbtn{
		display: block;
		width: 100%;
		text-align: left;
	}

}